:root{
        /* --color--accent:var(oklch(65% 50% 0)) */
        --color--accent: var(oklch(65% 50% 0));
    }

body{
    /* Set line height to 1.5 times the font size
                and use the OS's UI font as the website font 
                */
    font: 100%/1.5 system-ui;

    max-width: 100ch; /*From prof*/
    margin-left: auto; /*From prof*/
    margin-right: auto; /*From prof*/
    padding: 0 1rem; /*  Prevents text from touching screen edges */
    margin-inline: max(1em, (100% - 100ch) / 2); /*From Prof*/

    nav ul, /*I just believe this is just a syntax*/ 
    nav li { /*I just believe this is just a syntax*/ 
        display: contents;
        display: flex;
    }
    nav a {
        flex: 1;
        text-decoration: none;
        color: inherit;
        text-align: center;
        padding: 0.5em;
        margin-bottom: 1em;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: var(--color--accent);
        padding-bottom: 0.5em;
        background-color: var(--color--accent);
        background-color: oklch(from var(--color-accent) 95% 5% h)
    }

    nav a:hover {
        border-bottom: 0.4em solid var(--color-accent);
    }

}